autoshop-voice-front-desk/n8n-workflows/retell_post_call_processor.json
{
  "name": "retell_post_call_processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-post-call",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Retell Post-Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract structured data from the Retell post-call payload\nconst body = $json.body || $json;\nconst callData = body.call || body;\nconst transcript = callData.transcript || '';\nconst customData = callData.call_analysis || callData.custom_analysis_data || {};\nconst metadata = callData.metadata || callData.dynamic_variables || {};\n\n// Fields to extract — these come from Retell's call_analysis if configured,\n// or we parse from transcript in the next LLM node.\nconst extracted = {\n  retell_call_id: callData.call_id || '',\n  from_number: callData.from_number || metadata.caller_phone || '',\n  to_number: callData.to_number || '',\n  started_at: callData.start_timestamp || null,\n  ended_at: callData.end_timestamp || null,\n  duration_sec: callData.duration_ms ? Math.round(callData.duration_ms / 1000) : null,\n  transcript: transcript,\n  recording_url: callData.recording_url || '',\n  transferred: callData.call_status === 'transferred' || false,\n  \n  // From call_analysis (Retell structured extraction)\n  intent: customData.intent || 'unknown',\n  urgency: customData.urgency || 'low',\n  customer_name: customData.customer_name || metadata.customer_name || '',\n  phone: callData.from_number || metadata.caller_phone || '',\n  year: customData.vehicle_year || null,\n  make: customData.vehicle_make || '',\n  model: customData.vehicle_model || '',\n  issue_summary: customData.issue_summary || '',\n  vehicle_drivable: customData.vehicle_drivable || 'unknown',\n  preferred_day: customData.preferred_day || '',\n  preferred_time: customData.preferred_time || '',\n  needs_tow: customData.needs_tow || false,\n  existing_customer: metadata.returning_customer === 'yes',\n  human_transfer_requested: customData.human_transfer_requested || false,\n  sentiment: customData.sentiment || 'neutral',\n  follow_up_type: customData.follow_up_type || 'none',\n  \n  // Shop context\n  shop_name: metadata.shop_name || '',\n  shop_number: callData.to_number || '',\n  after_hours: metadata.shop_is_open === 'false'\n};\n\nreturn { json: extracted };"
      },
      "id": "node-extract",
      "name": "Extract Call Fields",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM shops WHERE main_number = '{{ $json.shop_number }}' LIMIT 1;",
        "options": {}
      },
      "id": "node-shop-lookup",
      "name": "Get Shop ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO callers (phone, name)\nVALUES (\n  '{{ $node[\"Extract Call Fields\"].json.phone }}',\n  '{{ $node[\"Extract Call Fields\"].json.customer_name }}'\n)\nON CONFLICT (phone) DO UPDATE SET\n  name = COALESCE(NULLIF('{{ $node[\"Extract Call Fields\"].json.customer_name }}', ''), callers.name),\n  updated_at = now()\nRETURNING id;",
        "options": {}
      },
      "id": "node-upsert-caller",
      "name": "Upsert Caller",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const extracted = $node['Extract Call Fields'].json;\n\n// Only upsert vehicle if we have at least make or model\nif (!extracted.make && !extracted.model) {\n  return { json: { vehicle_id: null, skip: true } };\n}\n\nreturn { json: { \n  caller_id: $node['Upsert Caller'].json[0]?.id || $node['Upsert Caller'].json.id,\n  year: extracted.year,\n  make: extracted.make,\n  model: extracted.model,\n  drivable_status: extracted.vehicle_drivable,\n  skip: false\n} };"
      },
      "id": "node-vehicle-check",
      "name": "Prepare Vehicle Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": false
            }
          ]
        }
      },
      "id": "node-has-vehicle",
      "name": "Has Vehicle Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO vehicles (caller_id, year, make, model, drivable_status)\nVALUES (\n  '{{ $json.caller_id }}',\n  {{ $json.year || 'NULL' }},\n  '{{ $json.make }}',\n  '{{ $json.model }}',\n  '{{ $json.drivable_status }}'\n)\nRETURNING id;",
        "options": {}
      },
      "id": "node-upsert-vehicle",
      "name": "Insert Vehicle",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1560, 200],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO calls (\n  shop_id, caller_id, retell_call_id, from_number, to_number,\n  started_at, ended_at, duration_sec, intent, urgency,\n  summary, transcript, transferred, sentiment, recording_url,\n  human_transfer_requested, after_hours, extracted_data\n) VALUES (\n  '{{ $node[\"Get Shop ID\"].json[0]?.id || $node[\"Get Shop ID\"].json.id }}',\n  '{{ $node[\"Upsert Caller\"].json[0]?.id || $node[\"Upsert Caller\"].json.id }}',\n  '{{ $node[\"Extract Call Fields\"].json.retell_call_id }}',\n  '{{ $node[\"Extract Call Fields\"].json.from_number }}',\n  '{{ $node[\"Extract Call Fields\"].json.to_number }}',\n  {{ $node[\"Extract Call Fields\"].json.started_at ? \"'\" + $node[\"Extract Call Fields\"].json.started_at + \"'\" : 'NULL' }},\n  {{ $node[\"Extract Call Fields\"].json.ended_at ? \"'\" + $node[\"Extract Call Fields\"].json.ended_at + \"'\" : 'NULL' }},\n  {{ $node[\"Extract Call Fields\"].json.duration_sec || 'NULL' }},\n  '{{ $node[\"Extract Call Fields\"].json.intent }}',\n  '{{ $node[\"Extract Call Fields\"].json.urgency }}',\n  '{{ $node[\"Extract Call Fields\"].json.issue_summary }}',\n  '{{ $node[\"Extract Call Fields\"].json.transcript }}',\n  {{ $node[\"Extract Call Fields\"].json.transferred }},\n  '{{ $node[\"Extract Call Fields\"].json.sentiment }}',\n  '{{ $node[\"Extract Call Fields\"].json.recording_url }}',\n  {{ $node[\"Extract Call Fields\"].json.human_transfer_requested }},\n  {{ $node[\"Extract Call Fields\"].json.after_hours }},\n  '{{ JSON.stringify($node[\"Extract Call Fields\"].json) }}'\n)\nRETURNING id;",
        "options": {}
      },
      "id": "node-insert-call",
      "name": "Insert Call Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1780, 300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const extracted = $node['Extract Call Fields'].json;\nconst intent = extracted.intent;\nconst urgency = extracted.urgency;\nconst shopId = $node['Get Shop ID'].json[0]?.id || $node['Get Shop ID'].json.id;\nconst callerId = $node['Upsert Caller'].json[0]?.id || $node['Upsert Caller'].json.id;\nconst callId = $node['Insert Call Record'].json[0]?.id || $node['Insert Call Record'].json.id;\n\nconst result = {\n  intent,\n  urgency,\n  shop_id: shopId,\n  caller_id: callerId,\n  call_id: callId,\n  create_appointment: false,\n  create_task: false,\n  task_type: null,\n  task_priority: 'medium',\n  sms_template: null,\n  alert_staff: false\n};\n\n// Route by intent\nswitch (intent) {\n  case 'new_appointment':\n    result.create_appointment = true;\n    result.create_task = true;\n    result.task_type = 'appointment_confirm';\n    result.sms_template = 'booking_request_captured';\n    if (extracted.preferred_day && extracted.preferred_day.toLowerCase().includes('today')) {\n      result.task_priority = 'high';\n    }\n    break;\n\n  case 'existing_status':\n    result.create_task = true;\n    result.task_type = 'status_followup';\n    result.task_priority = 'medium';\n    result.sms_template = 'status_request_received';\n    break;\n\n  case 'price_question':\n    result.create_appointment = !!extracted.make; // only if vehicle captured\n    result.create_task = true;\n    result.task_type = 'callback';\n    result.sms_template = 'booking_request_captured';\n    break;\n\n  case 'urgent_breakdown':\n  case 'tow_request':\n    result.create_task = true;\n    result.task_type = 'urgent_callback';\n    result.task_priority = 'urgent';\n    result.sms_template = 'urgent_callback';\n    result.alert_staff = true;\n    break;\n\n  case 'angry_customer':\n    result.create_task = true;\n    result.task_type = 'callback';\n    result.task_priority = 'high';\n    result.sms_template = 'urgent_callback';\n    result.alert_staff = true;\n    break;\n\n  case 'hours_address':\n    result.sms_template = 'hours_address_reply';\n    break;\n\n  case 'vendor_sales':\n  case 'wrong_number':\n    // No action needed\n    break;\n\n  default:\n    result.create_task = true;\n    result.task_type = 'callback';\n    break;\n}\n\n// After-hours override: tasks become callbacks\nif (extracted.after_hours && result.create_task) {\n  if (result.task_type === 'appointment_confirm') {\n    result.sms_template = 'after_hours_intake_confirmation';\n  }\n}\n\nreturn { json: result };"
      },
      "id": "node-route-intent",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.create_appointment }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-create-appt-check",
      "name": "Create Appointment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO appointment_requests (\n  shop_id, caller_id, call_id, vehicle_id,\n  requested_service, requested_day, requested_time, source\n) VALUES (\n  '{{ $node[\"Route by Intent\"].json.shop_id }}',\n  '{{ $node[\"Route by Intent\"].json.caller_id }}',\n  '{{ $node[\"Route by Intent\"].json.call_id }}',\n  {{ $node[\"Insert Vehicle\"].json[0]?.id ? \"'\" + $node[\"Insert Vehicle\"].json[0].id + \"'\" : 'NULL' }},\n  '{{ $node[\"Extract Call Fields\"].json.issue_summary }}',\n  '{{ $node[\"Extract Call Fields\"].json.preferred_day }}',\n  '{{ $node[\"Extract Call Fields\"].json.preferred_time }}',\n  'voice_intake'\n)\nRETURNING id;",
        "options": {}
      },
      "id": "node-insert-appt",
      "name": "Insert Appointment Request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2440, 100],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node['Route by Intent'].json.create_task }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-create-task-check",
      "name": "Create Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tasks (\n  shop_id, caller_id, call_id,\n  task_type, priority, status,\n  due_at, notes\n) VALUES (\n  '{{ $node[\"Route by Intent\"].json.shop_id }}',\n  '{{ $node[\"Route by Intent\"].json.caller_id }}',\n  '{{ $node[\"Route by Intent\"].json.call_id }}',\n  '{{ $node[\"Route by Intent\"].json.task_type }}',\n  '{{ $node[\"Route by Intent\"].json.task_priority }}',\n  'open',\n  CASE\n    WHEN '{{ $node[\"Route by Intent\"].json.task_priority }}' = 'urgent' THEN now() + interval '15 minutes'\n    WHEN '{{ $node[\"Route by Intent\"].json.task_priority }}' = 'high' THEN now() + interval '1 hour'\n    ELSE now() + interval '4 hours'\n  END,\n  '{{ $node[\"Extract Call Fields\"].json.issue_summary }}'\n)\nRETURNING id;",
        "options": {}
      },
      "id": "node-insert-task",
      "name": "Insert Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [2440, 400],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const route = $node['Route by Intent'].json;\nconst extracted = $node['Extract Call Fields'].json;\nconst template = route.sms_template;\n\nif (!template || !extracted.phone) {\n  return { json: { skip: true } };\n}\n\n// SMS templates\nconst templates = {\n  booking_request_captured: `Hi ${extracted.customer_name || 'there'}, thanks for calling ${extracted.shop_name}! We've received your appointment request for your ${extracted.year || ''} ${extracted.make || ''} ${extracted.model || ''}. We'll confirm your time shortly.`,\n  \n  urgent_callback: `Hi ${extracted.customer_name || 'there'}, we received your call about an urgent issue with your ${extracted.year || ''} ${extracted.make || ''} ${extracted.model || ''}. A team member will call you back as soon as possible. If this is an emergency, please call 911.`,\n  \n  status_request_received: `Hi ${extracted.customer_name || 'there'}, thanks for calling ${extracted.shop_name}. We've noted your request for a status update. A service advisor will reach out to you shortly.`,\n  \n  hours_address_reply: `${extracted.shop_name} is located at ${$node['Extract Call Fields'].json.shop_name ? '' : 'our shop'}. ${extracted.shop_name || 'We'} look forward to seeing you!`,\n  \n  after_hours_intake_confirmation: `Hi ${extracted.customer_name || 'there'}, thanks for calling ${extracted.shop_name} after hours. We've captured your info and someone will reach out when the shop opens. Thanks for your patience!`,\n  \n  missed_call_followup: `Hi, we noticed we missed your call at ${extracted.shop_name}. How can we help? Reply to this message or call us back anytime.`\n};\n\nconst smsBody = templates[template] || `Thanks for calling ${extracted.shop_name}. We'll be in touch!`;\n\nreturn { json: {\n  skip: false,\n  to: extracted.phone,\n  body: smsBody,\n  template: template,\n  shop_id: route.shop_id,\n  caller_id: route.caller_id,\n  call_id: route.call_id\n} };"
      },
      "id": "node-build-sms",
      "name": "Build SMS",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": false
            }
          ]
        }
      },
      "id": "node-sms-check",
      "name": "Send SMS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{ $env.TWILIO_SMS_FROM }}",
        "to": "={{ $json.to }}",
        "body": "={{ $json.body }}"
      },
      "id": "node-send-sms",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [3100, 200],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIAL_ID",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (shop_id, caller_id, call_id, message_type, sms_body, to_number, from_number, twilio_sid)\nVALUES (\n  '{{ $node[\"Build SMS\"].json.shop_id }}',\n  '{{ $node[\"Build SMS\"].json.caller_id }}',\n  '{{ $node[\"Build SMS\"].json.call_id }}',\n  'sms_outbound',\n  '{{ $node[\"Build SMS\"].json.body }}',\n  '{{ $node[\"Build SMS\"].json.to }}',\n  '{{ $env.TWILIO_SMS_FROM }}',\n  '{{ $json.sid || \"\" }}'\n);",
        "options": {}
      },
      "id": "node-log-sms",
      "name": "Log SMS to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [3320, 200],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node['Route by Intent'].json.alert_staff }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-alert-check",
      "name": "Alert Staff?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2880, 500]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "={{ $env.TWILIO_SMS_FROM }}",
        "to": "={{ $env.SHOP_ALERT_PHONE }}",
        "body": "=URGENT: {{ $node['Extract Call Fields'].json.customer_name || 'Unknown caller' }} called about {{ $node['Extract Call Fields'].json.issue_summary || 'an urgent issue' }}. Vehicle: {{ $node['Extract Call Fields'].json.year || '' }} {{ $node['Extract Call Fields'].json.make || '' }} {{ $node['Extract Call Fields'].json.model || '' }}. Call back: {{ $node['Extract Call Fields'].json.phone }}"
      },
      "id": "node-alert-sms",
      "name": "Send Staff Alert SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [3100, 500],
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIAL_ID",
          "name": "Twilio"
        }
      }
    }
  ],
  "connections": {
    "Retell Post-Call Webhook": {
      "main": [[{ "node": "Extract Call Fields", "type": "main", "index": 0 }]]
    },
    "Extract Call Fields": {
      "main": [[{ "node": "Get Shop ID", "type": "main", "index": 0 }]]
    },
    "Get Shop ID": {
      "main": [[{ "node": "Upsert Caller", "type": "main", "index": 0 }]]
    },
    "Upsert Caller": {
      "main": [[{ "node": "Prepare Vehicle Data", "type": "main", "index": 0 }]]
    },
    "Prepare Vehicle Data": {
      "main": [[{ "node": "Has Vehicle Data?", "type": "main", "index": 0 }]]
    },
    "Has Vehicle Data?": {
      "main": [
        [{ "node": "Insert Vehicle", "type": "main", "index": 0 }],
        [{ "node": "Insert Call Record", "type": "main", "index": 0 }]
      ]
    },
    "Insert Vehicle": {
      "main": [[{ "node": "Insert Call Record", "type": "main", "index": 0 }]]
    },
    "Insert Call Record": {
      "main": [[{ "node": "Route by Intent", "type": "main", "index": 0 }]]
    },
    "Route by Intent": {
      "main": [[
        { "node": "Create Appointment?", "type": "main", "index": 0 },
        { "node": "Create Task?", "type": "main", "index": 0 },
        { "node": "Build SMS", "type": "main", "index": 0 },
        { "node": "Alert Staff?", "type": "main", "index": 0 }
      ]]
    },
    "Create Appointment?": {
      "main": [
        [{ "node": "Insert Appointment Request", "type": "main", "index": 0 }],
        []
      ]
    },
    "Create Task?": {
      "main": [
        [{ "node": "Insert Task", "type": "main", "index": 0 }],
        []
      ]
    },
    "Build SMS": {
      "main": [[{ "node": "Send SMS?", "type": "main", "index": 0 }]]
    },
    "Send SMS?": {
      "main": [
        [{ "node": "Send SMS via Twilio", "type": "main", "index": 0 }],
        []
      ]
    },
    "Send SMS via Twilio": {
      "main": [[{ "node": "Log SMS to DB", "type": "main", "index": 0 }]]
    },
    "Alert Staff?": {
      "main": [
        [{ "node": "Send Staff Alert SMS", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "autoshop" },
    { "name": "retell" },
    { "name": "post-call" }
  ]
}
