autoshop-voice-front-desk/n8n-workflows/retell_inbound_router.json
{
  "name": "retell_inbound_router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "id": "node-webhook",
      "name": "Retell Pre-Call Webhook",
      "webhookId": "retell-inbound-hook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM shops WHERE main_number = '{{ $json.body.to_number }}' LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "id": "node-shop-lookup",
      "name": "Shop Lookup by DID",
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "shop-exists-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300],
      "id": "node-shop-found-check",
      "name": "Shop Found?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, phone, name, blocked_flag, vip_flag, last_vehicle_id, notes FROM callers WHERE phone = '{{ $node['Retell Pre-Call Webhook'].json.body.from_number }}' LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 200],
      "id": "node-caller-lookup",
      "name": "Caller Lookup",
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "blocked-check",
              "leftValue": "={{ $json.blocked_flag }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 200],
      "id": "node-is-blocked",
      "name": "Caller Blocked?"
    },
    {
      "parameters": {
        "jsCode": "// Get shop data from upstream\nconst shop = $('Shop Lookup by DID').first().json;\nconst caller = $('Caller Lookup').first().json;\nconst callerPhone = $('Retell Pre-Call Webhook').first().json.body.from_number || '';\n\n// Determine current day/time in shop timezone\nconst { DateTime } = require('luxon');\nconst now = DateTime.now().setZone(shop.timezone || 'America/Chicago');\nconst dayName = now.toFormat('EEEE').toLowerCase();\nconst hoursJson = typeof shop.hours_json === 'string' ? JSON.parse(shop.hours_json) : (shop.hours_json || {});\nconst todayHours = hoursJson[dayName];\n\nlet hoursToday = 'Closed today';\nlet shopIsOpen = 'false';\n\nif (todayHours && todayHours.open && todayHours.close) {\n  const formatTime = (t) => {\n    const [h, m] = t.split(':').map(Number);\n    const ampm = h >= 12 ? 'PM' : 'AM';\n    const h12 = h % 12 || 12;\n    return `${h12}:${m.toString().padStart(2, '0')} ${ampm}`;\n  };\n  hoursToday = `Open today ${formatTime(todayHours.open)} \\u2013 ${formatTime(todayHours.close)}`;\n\n  const currentHHMM = now.toFormat('HH:mm');\n  if (currentHHMM >= todayHours.open && currentHHMM < todayHours.close) {\n    shopIsOpen = 'true';\n  }\n}\n\nconst transferAvailable = (shopIsOpen === 'true' && shop.transfer_number) ? 'true' : 'false';\nconst customerName = (caller && caller.name) ? caller.name : '';\nconst returningCustomer = (caller && caller.name) ? 'yes' : 'no';\n\nreturn {\n  dynamic_variables: {\n    shop_name: shop.name || '',\n    address: shop.address || '',\n    hours_today: hoursToday,\n    diag_fee: shop.diag_fee_text || '',\n    services: shop.services_text || '',\n    makes_serviced: shop.makes_serviced_text || '',\n    tow_policy: shop.tow_policy_text || '',\n    customer_name: customerName,\n    caller_phone: callerPhone,\n    returning_customer: returningCustomer,\n    shop_is_open: shopIsOpen,\n    transfer_available: transferAvailable,\n    transfer_number: shop.transfer_number || ''\n  },\n  override_agent_id: null\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 100],
      "id": "node-build-response",
      "name": "Build Dynamic Variables"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1560, 100],
      "id": "node-respond-ok",
      "name": "Respond 200"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"shop_not_found\", \"message\": \"No shop configured for this number\"}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [900, 450],
      "id": "node-respond-404",
      "name": "Respond 404 No Shop"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"caller_blocked\", \"reject_call\": true}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1340, 300],
      "id": "node-respond-blocked",
      "name": "Respond 403 Blocked"
    },
    {
      "parameters": {
        "content": "## Retell Inbound Router\nReceives pre-call webhook from Retell.\nLooks up shop by DID, caller by phone.\nReturns dynamic variables for the voice agent.",
        "height": 200,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [240, 80],
      "typeVersion": 1,
      "id": "note-header",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Retell Pre-Call Webhook": {
      "main": [
        [{ "node": "Shop Lookup by DID", "type": "main", "index": 0 }]
      ]
    },
    "Shop Lookup by DID": {
      "main": [
        [{ "node": "Shop Found?", "type": "main", "index": 0 }]
      ]
    },
    "Shop Found?": {
      "main": [
        [{ "node": "Caller Lookup", "type": "main", "index": 0 }],
        [{ "node": "Respond 404 No Shop", "type": "main", "index": 0 }]
      ]
    },
    "Caller Lookup": {
      "main": [
        [{ "node": "Caller Blocked?", "type": "main", "index": 0 }]
      ]
    },
    "Caller Blocked?": {
      "main": [
        [{ "node": "Respond 403 Blocked", "type": "main", "index": 0 }],
        [{ "node": "Build Dynamic Variables", "type": "main", "index": 0 }]
      ]
    },
    "Build Dynamic Variables": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    { "name": "autoshop" },
    { "name": "retell" },
    { "name": "inbound" }
  ],
  "pinData": {
    "Retell Pre-Call Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "x-retell-signature": "v=EXAMPLE_SIGNATURE"
          },
          "body": {
            "event": "call_started",
            "call": {
              "call_id": "test-call-001",
              "call_type": "phone_call",
              "from_number": "+15559876543",
              "to_number": "+15551234567",
              "direction": "inbound"
            }
          }
        }
      }
    ]
  }
}
