autoshop-voice-front-desk/n8n-workflows/shop_config_sync.json
{
  "name": "shop_config_sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shop-config-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Config Sync Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM shops WHERE id = '{{ $json.body.shop_id }}' LIMIT 1;",
        "options": {}
      },
      "id": "node-load-shop",
      "name": "Load Shop Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ ($json.length || 0) > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-shop-exists",
      "name": "Shop Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "const shop = $json[0] || $json;\n\n// Build the Retell agent configuration payload\n// This maps shop DB fields to Retell's agent update API\nconst agentConfig = {\n  agent_id: shop.retell_agent_id,\n  agent_name: `${shop.name} Front Desk`,\n  \n  // Dynamic variables that will be injected on each call\n  // These are defaults — the inbound router overrides per-call\n  dynamic_variables: {\n    shop_name: shop.name || '',\n    address: shop.address || '',\n    diag_fee: shop.diag_fee_text || '',\n    services: shop.services_text || '',\n    makes_serviced: shop.makes_serviced_text || '',\n    tow_policy: shop.tow_policy_text || '',\n    transfer_number: shop.transfer_number || ''\n  },\n  \n  // General config\n  language: (shop.supported_languages && shop.supported_languages[0]) || 'en',\n  \n  // Webhook URLs (n8n endpoints)\n  webhook_url: `${$env.N8N_BASE_URL}/webhook/retell-inbound`,\n  post_call_webhook_url: `${$env.N8N_BASE_URL}/webhook/retell-post-call`\n};\n\nreturn { json: agentConfig };"
      },
      "id": "node-build-config",
      "name": "Build Agent Config",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.retellai.com/v2/agent/{{ $json.agent_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_name",
              "value": "={{ $json.agent_name }}"
            },
            {
              "name": "webhook_url",
              "value": "={{ $json.webhook_url }}"
            },
            {
              "name": "post_call_analysis_data",
              "value": "={{ JSON.stringify($json.dynamic_variables) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-push-retell",
      "name": "Push to Retell API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RETELL_AUTH_ID",
          "name": "Retell API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE shops SET\n  retell_agent_version = '{{ $json.agent_version || \"synced\" }}',\n  updated_at = now()\nWHERE retell_agent_id = '{{ $node[\"Build Agent Config\"].json.agent_id }}';",
        "options": {}
      },
      "id": "node-log-sync",
      "name": "Log Sync to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1340, 200],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return {\n  json: {\n    success: true,\n    shop_id: $node['Config Sync Trigger'].json.body.shop_id,\n    agent_id: $node['Build Agent Config'].json.agent_id,\n    synced_at: new Date().toISOString()\n  }\n};"
      },
      "id": "node-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "functionCode": "return {\n  json: {\n    success: false,\n    error: 'shop_not_found',\n    shop_id: $node['Config Sync Trigger'].json.body.shop_id\n  }\n};"
      },
      "id": "node-not-found",
      "name": "Shop Not Found Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Config Sync Trigger": {
      "main": [[{ "node": "Load Shop Config", "type": "main", "index": 0 }]]
    },
    "Load Shop Config": {
      "main": [[{ "node": "Shop Exists?", "type": "main", "index": 0 }]]
    },
    "Shop Exists?": {
      "main": [
        [{ "node": "Build Agent Config", "type": "main", "index": 0 }],
        [{ "node": "Shop Not Found Response", "type": "main", "index": 0 }]
      ]
    },
    "Build Agent Config": {
      "main": [[{ "node": "Push to Retell API", "type": "main", "index": 0 }]]
    },
    "Push to Retell API": {
      "main": [[{ "node": "Log Sync to DB", "type": "main", "index": 0 }]]
    },
    "Log Sync to DB": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "autoshop" },
    { "name": "config" },
    { "name": "sync" }
  ]
}
